@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    padding: 0;
    margin: 0;
    background: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}

.closed{
    display: none;
}

.opened{
    display: block;
}

.container{

    @media (min-width: 1080px){
        width: 1080px;
        margin: 0 auto;
    }
}
a{
    color: #444444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 1.5em;

    @media (min-width: 1080px){
        padding: 10em 4em;
    }
}



